// Paddings
$basic-horizontal-padding: 7%;
$basic-vertical-padding: 3%;

// Colors
$background-color: #1f1f1f;

$orange: #f78c00;
$orange-hover: #d67b03;

$green: #069412;
$green-hover: #096e12;

// Fonts

$primary-font: 'Open Sans';
$secondary-font: 'Ubuntu';

/* Header */

header {
    background: linear-gradient(rgba(31,31,31,0.5), $background-color), url(../assets/heading-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;
}

// Navbar

nav {
    font-family: $secondary-font, sans-serif;
    
    .nav-link {
        margin: 0 0.3rem;
    }
}

// Heading

.heading-wrapper {
    padding: 0 $basic-vertical-padding $basic-horizontal-padding $basic-vertical-padding;

    .heading {
        font-family: $primary-font, sans-serif;
        
        .heading-logo {
            width: 25vw;
        }

        h1 {
            font-weight: 900;
            letter-spacing: 1px;
        }

        .heading-server-status-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2rem;

            p {
                margin: 0;
                padding-left: 0.5rem;
                color: $green;
                text-shadow: 0px 0px 16px $green;
            }
        }

        .heading-button {
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .heading {
        .heading-logo {
            width: 75vw !important;
        }
    }
}