// Paddings
$basic-horizontal-padding: 7%;
$basic-vertical-padding: 3%;

// Colors
$background-color: #1f1f1f;

$secondary-font-color: #bfbcbc;

$orange: #f78c00;
$orange-hover: #d67b03;

$green: #069412;
$green-hover: #096e12;

// Feature icons background

$first-feature: rgb(100, 13, 166);
$second-feature: rgb(19, 148, 25);
$third-feature: rgb(176, 56, 22);

// Fonts

$primary-font: 'Open Sans';
$secondary-font: 'Ubuntu';

/* Header */

header {
    background: linear-gradient(rgba(31,31,31,0.5), $background-color), url(../assets/heading-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    text-align: center;
}

// Navbar

nav {
    font-family: $secondary-font, sans-serif;
    
    .nav-link {
        margin: 0 0.3rem;
    }
}

// Heading

.heading-wrapper {
    padding: 0 $basic-vertical-padding $basic-horizontal-padding $basic-vertical-padding;

    .heading {
        font-family: $primary-font, sans-serif;
        
        .heading-logo {
            width: 25vw;
        }

        h1 {
            font-weight: 900;
            letter-spacing: 1px;
            font-size: 3.5rem;
        }

        .heading-server-status-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 1.5rem;

            p {
                margin: 0;
                padding-left: 0.5rem;
                color: $green;
                text-shadow: 0px 0px 16px $green;
            }
        }

        .heading-button {
            margin-top: 1rem;
        }
    }
}

// AboutServer section

#about {
    min-height: 60vh;
    text-align: left;
    padding: 7% 3%;

    .about-heading {
        font-family: $secondary-font, sans-serif;
        font-weight: 900;
        font-size: 3rem;
    }

    .about-description {
        color: $secondary-font-color;
    }

    .about-button-wrapper {
        padding-top: 1rem;
    }

}

// Features Section

#features {
    height: 60vh;

    .feature {
        text-align: center;

        .feature-icon {
            margin: 2rem auto;

            width: 5rem;
            height: 5rem;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 10px 0 10px 0;
        }

        &:nth-child(1) {
            .feature-icon {
                background: $first-feature;
                box-shadow: 3px 10px 72px 3px $first-feature;
            }
        }

        &:nth-child(2) {
            .feature-icon {
                background: $second-feature;
                box-shadow: 3px 10px 72px 3px $second-feature;
            }
        }

        &:nth-child(3) {
            .feature-icon {
                background: $third-feature;
                box-shadow: 3px 10px 72px 3px $third-feature;
            }
        }

        .feature-heading {
            font-family: 'Ubuntu', sans-serif;
        }

        .feature-description {
            line-height: 2;
            color: #dedede;
            padding: 0 2rem;
        }
    }

}

// CTA section

#cta {

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 40vh;

    clip-path: polygon(100% 0, 100% 79%, 0 100%, 0 100%, 0 0);    background: linear-gradient($background-color, rgba(31,31,31,0.5)), url(../assets/cta-bg.jpg);
    background-size: cover;

    a {
        margin: 1rem 0;
    }

}

// Media query for RWD (mobile)

@media screen and (max-width: 768px) {
    .heading {
        .heading-logo {
            width: 75vw !important;
        }

        .heading-title {
            font-size: 2rem !important;
        }
    }

    #about {
        text-align: center;

        .about-image{
            width: 66vw;
        }
    }
}