$basic-padding: 7%;

/* Colors */
$background-color: #1f1f1f;
$orange: #f78c00;
$green: #069412;

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
}

.container-fluid {
    padding: $basic-padding;
}