$basic-horizontal-padding: 7%;
$basic-vertical-padding: 3%;

/* Colors */
$background-color: #1f1f1f;

/* Global basic styling */

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
    color: #fff;

    .container-fluid {
        padding: $basic-vertical-padding $basic-horizontal-padding;
    }
}